<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Monitor IoT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<header>
    <h1>🌿 Sistema IoT - Terrario Inteligente</h1>
</header>

<div class="dashboard">

    <div class="card temperatura">
        <h2>🌡️ Temperatura</h2>
        <span id="temp">--</span> °C
    </div>

    <div class="card humedad">
        <h2>💧 Humedad</h2>
        <span id="hum">--</span> %
    </div>

    <div class="card gas" id="gasCard">
        <h2>🌫️ Gas MQ-2</h2>
        <span id="gas">--</span>
        <p id="alertaGas"></p>
    </div>

    <div class="card estado">
        <h2>🚶 Movimiento</h2>
        <span id="mov">--</span>
    </div>

</div>

<script>
async function actualizarDatos(){
    const res = await fetch("/api/datos");
    const data = await res.json();

    document.getElementById("temp").innerText = data.temperatura;
    document.getElementById("hum").innerText = data.humedad;
    document.getElementById("gas").innerText = data.gas;
    document.getElementById("mov").innerText = data.movimiento;

    // 🚨 ALERTA GAS
    const gas = data.gas;

    if (gas > 500) {
        document.getElementById("alertaGas").innerText = "⚠️ PELIGRO: GAS DETECTADO";
        document.getElementById("gasCard").style.background = "rgba(255,0,0,0.2)";
        document.getElementById("gasCard").style.border = "2px solid red";
    } else {
        document.getElementById("alertaGas").innerText = "✔ Normal";
        document.getElementById("gasCard").style.background = "rgba(255,255,255,0.08)";
        document.getElementById("gasCard").style.border = "1px solid rgba(255,255,255,0.15)";
    }
}

setInterval(actualizarDatos, 2000);
actualizarDatos();
</script>

</body>
</html>